@model List<WebApplication1.Data.Products>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout_Cart.cshtml";
}

<link href="~/Content/Cart.css" rel="stylesheet" />

<div class="content">
    <div>
        <h2>aloha</h2>
    </div>
</div>
